@model IEnumerable<VotingResultViewModel>

@{
    ViewData["Title"] = "Vote Result";
}

<h4>Vote Result</h4>

<table class="table">
  
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>

        </tr>
}
    </tbody>
</table>
