@model EletionsIndia.Models.ViewModels.RoleCreateViewModels

@{
    ViewData["Title"] = "CreateRole";
}

<h4>CreateRole</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Roles" asp-action="createrole" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.RoleList)
            {
                <tr><td>@item.Name</td><td><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');" asp-action="roledelete" asp-route-rolename="@item.Name">Delete</button></td></tr>
            }
        </tbody>
    </table>
</div>

