@model DistrictMultipleCreateViewModel

@{
    ViewData["Title"] = "Multiple Districts";
}

<h4>Multiple Districts</h4>
<hr />
<form method="post" >
<div class="row">
    <div class="col-md-4">
        <form asp-action="MultipleDistricts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InitialStateId" class="form-control" type="hidden" value="@ViewBag.InitialStateId" />
            <input asp-for="InitialStateName" class="form-control" type="hidden" value="@ViewBag.InitialStateName" />

            <div class="form-group">
                <label asp-for="MultipleDistricts" class="control-label">Add Multiple Districts to @ViewBag.InitialStateName</label>
                <textarea asp-for="MultipleDistricts" class="form-control"></textarea>
                <span asp-validation-for="MultipleDistricts" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    </form>



