@using Microsoft.AspNetCore.Identity
@using ElectionsIndia.DataAccess.UserFields
@using  System.Threading
@inject SignInManager<ApplicationUser>  smanager
@inject UserManager<ApplicationUser>  umanager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Election Portal on Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <style type="text/css">

        /* Navbar container */
        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
        }

            /* Links inside the navbar */
            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        /* The dropdown container */
        .dropdown {
            float: left;
            overflow: hidden;
        }

            /* Dropdown button */
            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit; /* Important for vertical align on mobile phones */
                margin: 0; /* Important for vertical align on mobile phones */
            }

            /* Add a red background color to navbar links on hover */
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: red;
            }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
            .dropdown:hover{
                display: block;
            }

                /* Add a grey background color to dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
     
        <div class="navbar">
            <a href="#">Election Portal on Cloud</a>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@


            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="account" asp-action="logout" class="goright">Log Out</a>
                <div class="dropdown alignmenu">

                    <button class="btn btn-outline-info">
                        Admin Menus
                        <i class="fa fa-caret-down"></i>
                    </button>


                    <div class="dropdown-content ">
                        
                                   
                                    <a asp-area="" asp-controller="Languages" asp-action="Index">Home</a>


                                    <a asp-area="" asp-controller="PoliticalParty" asp-action="Create">Add Political Party</a>
                                    <a asp-area="" asp-controller="voting" asp-action="index">Caste your Vote</a>
                                    <a asp-area="" asp-controller="PoliticalParty" asp-action="Index">Political Parties</a>
                             
                                    
                                    <a asp-area="" asp-controller="Languages" asp-action="Create">Add Languages</a>



                                    <a asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>

                                    <a asp-area="" asp-controller="Countries" asp-action="Create">Add New Country</a>


                                    <a asp-area="" asp-controller="States" asp-action="Index">States</a>



                                    <a asp-area="" asp-controller="States" asp-action="Create">Add New State</a>
                              
                                    <a asp-area="" asp-controller="Areas" asp-action="Index">Areas</a>


                                    <a asp-area="" asp-controller="Areas" asp-action="Create">Add Areas</a>


                                    <a asp-area="" asp-controller="Districts" asp-action="Index">Districts</a>


                                    <a asp-area="" asp-controller="Districts" asp-action="Create">Add Districts</a>


                                    <a asp-area="" asp-controller="City" asp-action="Index">Cities</a>


                                    <a asp-area="" asp-controller="City" asp-action="Create">Add Cities</a>
                              
                                    <a asp-area="" asp-controller="ElectionWard" asp-action="Index">Wards</a>


                                    <a asp-area="" asp-controller="ElectionWard" asp-action="Create">Add Ward</a>


                                    <a asp-area="" asp-controller="ElectionBooth" asp-action="Index">Booths</a>




                                    <a asp-area="" asp-controller="ElectionKiosk" asp-action="Index">Kiosks</a>

                                    <a asp-area="" asp-controller="ElectionKiosk" asp-action="Create">Add Kiosk</a>




                                    <a asp-area="" asp-controller="voting" asp-action="create">Create Voting Configuration</a>
                                </div>
                            </div>
             
             
            }
            else
            {
                <a asp-controller="account" asp-action="login">Log In</a>
            }



        </div>
  
   
    <div  class="container">
        <main role="main" class=" mt-5 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Elections- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


