
@model PoliticalPartyLanguagesCreateViewModel




@{
    ViewData["Title"] = "PoliticalPartyLanguages";
}
<style>
    .dvSpinner {
        display: block;
        visibility: visible;
        position: absolute;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 105%;
        height: 105%;
        background-color: white;
        vertical-align: bottom;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
        font-size: large;
        color: blue;
        font-style: italic;
        font-weight: 400;
        background-image: url('img/spinner.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>
<script>
    $(window).on('load', function () {
        $("#coverScreen").hide();
    });

    $('#btnCreate').submit(
        function () {
            aler('hi');
            $('#coverScreen').show();
        }
    )
</script>


<h1>Create Political Party</h1>

<h4>PoliticalPartyListViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OldPhotoPath" class="form-control" type="hidden" />
            <input asp-for="PoliticalPartyLanguageId" class="form-control" type="hidden" />



            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishPartyID" class="control-label">Select Party Name in English</label>
                <select asp-for="EnglishPartyID" class="form-control" asp-items="@(new SelectList(ViewBag.EnglishParty,"EnglishPartyId","Name"))">
                    <option value="">Select Party name in English</option>
                    <option value="-2"> Not Applicable</option>
                </select>
                <span asp-validation-for="EnglishPartyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateID" class="control-label">Select State</label>
                <select asp-for="StateID" class="form-control" asp-items="@(new SelectList(ViewBag.StateList,"StateId","Name"))"><option value="">Select State</option></select>
                <span asp-validation-for="StateID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LanguageID" class="control-label">Select Language Name</label>
                <select asp-for="LanguageID" class="form-control" asp-items="@(new SelectList(ViewBag.LanguageList,"LanguageId","Name"))"><option value="">Select Langauge</option></select>
                <span asp-validation-for="LanguageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="PartyPhoto" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>
                </div>

            </div>

            <div class="col mt-4">
                <input type="submit" value="Create" class="btn btn-primary" id="btnCreate" />
            </div>


        </form>
    </div>
</div>

<div clasas="dvSpinner" id="coverScreen">

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(
            function () {
                $('.custom-file-input').on('change', function () {
                    var fileName = $(this).val().split('\\').pop();
                    $(this).next('.custom-file-label').html(fileName);
                })
            }
        );
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
