@using ElectionsIndia.Models.ViewModels
@model LanguageEditViewModel

@{
    ViewData["Title"] = "Edit Languages";
}

<script type="text/javascript">
            $(document).ready(
                $(#btnCreate).click(
                    function () {
                        $.post(
            'Languages/Edit',
            data :
                        {
                Name: $("txtName").val(),
            IsActive: $('#chkActive').prop('checked')
                            }
)
}
)
</script>
<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="LanguageID" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="txtName" />
                <span asp-validation-for="Name" class="text-danger"> Name is required</span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" id="chkActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="btnSubmit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
